<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <h1>Welcome to the Info Page!</h1> 
    </head>
    <body>
        <div id ="About Us">
            <h2>About Us!</h2>
            <p>We are an online clothing store that offers a variety of clothing apparel, including t-shirts, jeans, hats, sweaters, shoes among others. </p>
        </div>

        <div id ="Store Photos">
            <img src="../public/images/t-shirt.png" width=200 height="200">
            <img src="../public/images/jeans.jpeg" width=200 height="200">
            <img src="../public/images/dad-hat.jpg" width=200 height="200">
            <img src="../public/images/christmas-sweater.jpg" width=150 height="200">
            <img src="../public/images/shoes.jpg" width=350 height="200">
        </div>

    </body>
</html>