<div class="navbar">
    <nav>
        <a href="/">Home</a>
        <a href="profile">Profile</a>
        <a href="users">Users</a>
        <a href="register">Register</a>
        <a href="search">Search</a>
        <div class="login">
            <a href="/login">Login</a>
        </div>

    </nav>
</div>