<div class="navbar">
    <nav>
        <a href="/">Home</a>
        <a href="profile">Profile</a>
        <a href="register">Register</a>
        <a href="search">Search</a>
        <!-- <div class="login">
            <a href="/login">Login</a>
        </div> -->
        <% if (!loggedIn) { %>
                <a href="/login">Login</a>
        <% } else { %>
                <a href="/logout">Logout</a>
        <% } %>
        
        

    </nav>
</div>