<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="login-form">

        <h1>Welcome to the log-in page!</h1>
        <form class="form-login" action="/login" method="POST">

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" autofocus
                required>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="text" name="password" id="inputPassword" class="form-control" placeholder="Password" autofocus
                required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

    </div>
</body>

</html>