<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <h1>View Profile</h1> 
        <div id ="Profile"></div>
        <% if(!loggedIn) { %>
            <h1>User is not logged in</h1>
        <% } else { %>
            <form action= "/edit" method="GET">
                <label for="username"><b>Username </b></label>
                <p><%= currentUser.username %></p></br>
                
                </b><label for="email"><b>Email</b></label>
                <p><%= currentUser.email %></p></br>
    
                <label for="address"><b>Address</b></label>
                <p><%= currentUser.address %></p></br>
    
                <label for="name"><b>Name</b></label>
                <p><%= currentUser.name %></p></br>
    
                <button type="submit">Edit</button>
            </form>
        <% } %>
        
    </body>
    
</html>