<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <h1>View Profile</h1> 
        <div id ="Profile"></div>
        <form action= "/edit" method="GET">
            <label for="username"><b>Username</b></label>
            <p>Username</p></br>

            <label for="password"><b>Password</b></label>
            <p>Hidden</p></br>

            </b><label for="email"><b>Email</b></label>
            <p>Email123@gmail.com</p></br>

            <label for="address"><b>Address</b></label>
            <p>123 Fake Street</p></br>

            <label for="name"><b>Name</b></label>
            <p>John Doe</p></br>

            <button type="submit">Edit</button>
        </form>
    </body>
    
</html>