<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <h1>Welcome to the inventory search page!</h1> 
        <div id ="search">
            <p>Please enter the name of the item you are searching for.</p>
        </div>

        <form action= "http://localhost:4000/api/items/search/" method="GET">
            <label for="SearchCriteria"><b>Search</b></label>
            <input type="text" placeholder="Ex.) T-Shirt" name="searchBox" id="searchBox" required>

            <button type="submit">Search</button>
        </form>
        
    </body>
    
</html>